<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot with Togglz</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>User Story manager</h1>
	<a href="/togglz-console" target="__blank">Open togglz console</a>
	
	<h2>Features</h2>
	<ul>
		<!-- provide feature by MAV attribute -->
		<li>JIRA Export: <span
			th:text="${enable_jira_export} ? 'Yes' : 'No'"></span></li>
		<!-- provide feature by using thmyeleaf-extras-togglz -->
		<li>Cost view: <span togglz:active='COST_IS_VIEWABLE'>Yes</span>
			<!-- togglz:inactive is not documented but implemented --> <span
			togglz:inactive='COST_IS_VIEWABLE'>No</span></li>
		<!-- access feature by using FQDN. spend more characters! -->
		<li>Cost edit: <span
			th:text="${T(de.schakko.samples.spring.boot.togglz.business.UserStoryFeature).COST_IS_EDITABLE.isActive() == true} ? 'Yes' : 'No'"></span>
		</li>
	</ul>

	<h2>User Stories</h2>
	<ul>
		<li th:each="story : ${stories}"><span th:text="${story.content}"></span>
			<!-- as you can see, togglz:active makes it easy to implement a new feature -->
			<span togglz:active='COST_IS_VIEWABLE' th:text="'with costs of € ' + ${story.cost}">${story.cost} </span>
			<a href="#" togglz:active='COST_IS_EDITABLE'>Edit cost</a>
		</li>
	</ul>
</body>
</html>