<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot with Togglz</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>User Story manager</h1>
	<h2>Features</h2>
	<ul>
		<!-- provide feature by MAV attribute -->
		<li>JIRA Export: <span
			th:text="${enable_jira_export} ? 'Yes' : 'No'"></span></li>
		<!-- provide feature by using thmyeleaf-extras-togglz -->
		<li>Cost view: <span
			togglz:active='COST_IS_VIEWABLE'>Yes</span>
			<!-- togglz:inactive is not documented but implemented -->
			<span
			togglz:inactive='COST_IS_VIEWABLE'>No</span></li>
	</ul>

	<h2>User Stories</h2>
	<ul>
		<li th:each="story : ${stories}" th:text="${story.content}">${story.content}</li>
	</ul>
</body>
</html>